.productItem_metaInfo {
    /* padding-block-start: 20px; */
    /* border: 1px solid #ddd; */
 
    line-height: 1;
}
p.productItem_category {
    font-size: 12px;
    color: rgba(var(--textClr),0.6);
}
h3.productItem__title {
    font-size: 16px;
    color: rgba(var(--textClr),0.8);
}
.oldprice{text-decoration: line-through; color: rgba(var(--textClr),0.6);}
.productItem_price span{font-size: 13px;}
.rating__list svg path{fill: rgba(var(--yellowClr),10);}
span.newprice {
    font-size: 16px !important;
}
.productItem__action{inset-block: 0;}
.productItem_img img{transition: 0.5s ease-in-out;}
.productItem__action li{cursor: pointer; width: 40px; aspect-ratio: 1;background-color: rgba(var(--themeClr),1); color: rgba(var(--whiteClr),1);border-radius:0 4px 4px 0; inset-inline-start: -50px;transition-duration:  0.5s;transition-timing-function:  ease-in-out; transition-delay:  calc(var(--i)*0.05s); position: relative;}
.productItem__action li span{font-size: 18px;}
.productItem:hover .productItem__action li{inset-inline-start: 0; }
.productItem:hover .productItem_img img{transform:scale(1.3)}
