
<section class="topbanner"> 
    <div class="container">
        
    </div>
</section>
<section class="productdetail py-100"> 
    <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="product__slider">
                    <img src={{productsdetail.thumbnail}} alt="">
                </div>
            </div>
            <div class="col-lg-7">
                <div class="product__metainfo">
                    <h2><p> {{productsdetail.title}}</p></h2>
                    <p>{{productsdetail.description}}</p>
                    <p>{{productsdetail.price}}</p>
                </div>
            </div>
        </div>
    </div>
</section>