.btn,
a{cursor:pointer}
:root{
  --textClr:34,34,34;
  --themeClr:31,110,140;
  
  --whiteClr:255,255,255;
  --yellowClr:255, 193, 7;
}
*,
::after,
::before{box-sizing:border-box;margin:0;padding:0}
ol,ul{list-style:none}
html:focus-within{scroll-behavior:smooth}
a{text-decoration-skip-ink:auto;text-decoration:none}
img,picture{max-width:100%;display:block}
button,input,select,textarea{font:inherit}
@media (prefers-reduced-motion:reduce){
  html:focus-within{scroll-behavior:auto}
  *,::after,::before{animation-duration:0s!important;animation-iteration-count:1!important;transition-duration:0s!important;scroll-behavior:auto!important}
}
body{min-height:100dvh;text-rendering:optimizeSpeed;line-height:1.5;color:rgba(var(--textClr),1);font-family:Lato,sans-serif}
.container{width:min(100%,1400px);margin-inline:auto;padding-inline:15px}
.l-space-1{letter-spacing: 1px;}
.l-space-2{letter-spacing: 2px;}
.themeText{color: rgba(var(--themeClr),1);}
.uppercase{text-transform: uppercase;}
.lowercase{text-transform: lowercase;}
.d-flex{display:flex}
.d-grid{display:grid}
.d-none{display:none}
.flex-column{flex-direction:column}
.flex-wrap{flex-wrap: wrap;}
.flex-row{flex-direction:row}
.inline-center{justify-content:center}
.inline-space-between{justify-content:space-between}
.block-center{align-items:center}
.place-center{place-items:center}
.block-self-start{align-self:flex-start}
.block-self-end{align-self:flex-end}
.absolute{position:absolute}
.relative{position:relative}
.fixed{position:fixed}
.sticky{position:sticky}
.gap-0{gap:0}
.gap-5{gap:5px}
.gap-10{gap:10px}
.gap-15{gap:15px}
.gap-20{gap:20px}
.gap-30{gap:30px}
.gap-50{gap:50px}
.py-100{padding-block: 100px;}

.text-center{text-align: center;}

.fw-100{font-weight: 100;}
.fw-200{font-weight: 200;}
.fw-300{font-weight: 300;}
.fw-400{font-weight: 400;}
.fw-500{font-weight: 500;}
.fw-600{font-weight: 600;}
.fw-700{font-weight: 700;}
.fw-800{font-weight: 800;}
.fw-900{font-weight: 900;}

.hidden{overflow: hidden;}
.cover{object-fit:cover}
.contain{object-fit:contain}
.btn{letter-spacing:1px;padding:8px 20px;border:none;background:rgba(var(--themeClr),1);display:flex;align-items:center;font-size:14px;color:rgba(var(--whiteClr),1);position:relative}
.btn--xl{min-height:56px;padding-inline:30px;font-size:18px}
.hoverEffect{margin-inline-start:5px}
.hoverEffect::before,.hoverEffect::after{transition:width .5s ease-in-out;content:'';border-block:2px solid rgba(var(--themeClr),1);position:absolute;inset-inline-start:-5px;width:20px;height:calc(100% + 10px);z-index:-1;border-inline-start:2px solid rgba(var(--themeClr),1)}
.hoverEffect::before{inset-inline-start:auto;inset-inline-end:-5px;border-inline-end:2px solid rgba(var(--themeClr),1);border-inline-start:0}
.hoverEffect:hover::after,.hoverEffect:hover::before{width: 60%;}


.title{font-size: 36px;;}
.subtitle{font-size: 18px; color: rgba(var(--textClr),0.5); ;}
.btn-link span{font-size: 22px;transition: 0.5s;inset-inline-start: -20px;opacity: 0;}
.btn-link:is(:hover){text-decoration: dotted;}
.btn-link:is(:hover) span{font-size: 20px; inset-inline-start: 10px;opacity: 1;}
@media screen and (max-width:767px) {
  .xs-d-none{display: none}
  .products{width: 100%  !important;}
}
.coloredBg {
  background-color: rgba(var(--themeClr),0.03);
}