<section class="banner d-flex">
  <div class="container d-grid place-center">
    <div class="banner_content d-flex flex-column gap-50 py-100">
      <h1 class="d-grid gap-10 gardientText">
        <span class="uppercase themeText l-space-2"> Summer Sale is on</span>
        Discover Men's Latest Fashion
      </h1>
      <button class="btn banner__btn block-self-start btn--xl hoverEffect">
        Explore Now
      </button>
    </div>
    <div class="banner_graphic d-flex relative">
      <img
        src="assets/img/person_1.webp"
        class="contain block-self-end"
        alt=""
      />
    </div>
  </div>
</section>
<section class="py-100 latestArrival">
  <div class="container d-flex gap-20 flex-wrap">
    <div class="latstArrival__Content d-flex flex-column gap-20">
      <h2 class="title gardientText">Latest Arrival</h2>
      <p class="subtitle">
        Showing our latest arrival on this summer
      </p>
      <a class="btn-link block-self-start d-flex block-center themeText fw-600 l-space-1" href="javascript:void(0)">
        Explore more <span class="material-symbols-outlined relative">
          east
          </span>
         
          
      </a>
      <ul class="carouselArrow d-flex gap-10">
        <li class="carouselArrow__left d-flex inline-center block-center">
          <span class="material-symbols-outlined">
            chevron_left
            </span>
        </li>
        <li class="carouselArrow__next d-flex inline-center block-center">
          <span class="material-symbols-outlined">
            chevron_right
            </span>
        </li>
        
      </ul>
    </div>
    <div class="products">
      <div class="app-product-item owl-carousel latestProduct"></div>
    </div>
  </div>
</section>
<section class="py-100 BestSeller coloredBg">
  <div class="container d-flex gap-20 flex-wrap">
    <div class="latstArrival__Content d-flex flex-column gap-20">
      <h2 class="title gardientText">BestSeller</h2>
      <p class="subtitle">
        Showing our BestSeller on this summer
      </p>
      <a class="btn-link block-self-start d-flex block-center themeText fw-600 l-space-1" href="javascript:void(0)">
        Explore more <span class="material-symbols-outlined relative">
          east
          </span>
         
          
      </a>
      <ul class="carouselArrow d-flex gap-10">
        <li class="BestSellercarouselArrow__left d-flex inline-center block-center">
          <span class="material-symbols-outlined">
            chevron_left
            </span>
        </li>
        <li class="BestSellercarouselArrow__next d-flex inline-center block-center">
          <span class="material-symbols-outlined">
            chevron_right
            </span>
        </li>
        
      </ul>
    </div>
    <div class="products">
      <div class="app-product-item owl-carousel BestSellerProduct"></div>
    </div>
  </div>
</section>
